<%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>

<div class="main-container">
  <div class="edit-user-info">
    <h1><%= t('user.edit') %></h1>
    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, class: 'form-label'%>
        <%= form.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="field">
        <%= form.label :email, class: 'form-label'%>
        <%= form.text_field :email, class: 'form-text-field' %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn-update update", data: {turbo_confirm: t('confirm.update') } %>
      </div>
    <% end %>
  </div>
  <br>

  <div class="back-area">
    <%= link_to t('common.back_to_prf'), @user %> |
    <%= link_to t('common.back_to_top'), experiences_path %>
  </div>
</div>
