<div class="main-container">
  <p style="color: green"><%= notice %></p>
  <div id="prf-modal" class="modal-area hidden">
      <%= render @user %>
      <%= link_to t('profile.edit'), edit_profile_path(@user) %>
      <%= link_to t('user.edit'), edit_user_path(@user) %>
      <%= link_to t('common.logout'), logout_path, data: { turbo_method: :delete, turbo_confirm: t('confirm.logout') } %>
  </div>

  <div class="back-btn">
    <%= link_to t('common.back_to_top'), experiences_path %>
  </div>
</div>
