<div class="experience" %>
  <p>
    <strong>Title:</strong>
    <%= experience.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= experience.tag %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= experience.time %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= experience.cost %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= experience.image %>
  </p>

</div>
