<div class="experience" %>
  <p class="title">
    <%= experience.title %>
  </p>

  <p class="image">
    <%= image_tag(experience.image) if experience.image.attached? %>
  </p>
  <%= link_to experience_path(experience) do %>
    <div class="disc-area">
      <p><%= experience.time.try(:strftime, "%Y-%m-%d") %></p>
      <p class="disc"><%= experience.description %></p>
      <p><%= experience.user.name %></p>
      <p><%= experience.tag %></p>
    </div>
  <% end %>
  <div class="ex-item">
    <p class="comment-count"><i class="fa-regular fa-comment"></i> <%= experience.comments.count %></p>
    <div id="like-button-for-experience-<%= experience.id %>">
      <% if current_user.likes?(experience) %>
        <%= render 'like/unlike', experience: experience %>
      <% else %>
        <%= render 'like/like', experience: experience %>
      <% end %>
    </div>
  </div>
</div>