<div class="experience" %>
  <p class="title">
    <%= experience.title %>
  </p>

  <p class="image">
    <%= image_tag(experience.image) if experience.image.attached? %>
  </p>
  <%= link_to experience_path(experience) do %>
    <div class="disc-area">
      <p>
        <%= experience.time.try(:strftime, "%Y-%m-%d") %>
      </p>
      <p>
        <%= experience.description %>
      </p>
      <p>
        <%= experience.user.name %>
      </p>
      <p>
        <%= experience.tag %>
      </p>
    </div>
  <% end %>
</div>