<div class="experience" %>
  <p class="title">
    <%= experience.title %>
  </p>

  <p class="image">
    <%= experience.image %>
  </p>
  <%= link_to experience do %>
    <div class="disc-area">
      <p>
        <%= experience.time.try(:strftime, "%Y-%m-%d") %>
      </p>
      <p>
        <%= experience.description %>
      </p>
      <p>
        ユーザー名
      </p>
      <p>
        <%= experience.tag %>
      </p>
    </div>
  <% end %>
</div>