<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class="main-container">
  <div class="experience show">
    <p class="title">
      <%= @experience.title %>
    </p>

    <p class="image">
      <%= image_tag(@experience.image) if @experience.image.attached? %>
    </p>

    <div class="disc-area">
      <p><%= @experience.user.name %></p>
      <p><%= @experience.time.try(:strftime, "%Y-%m-%d") %></p>
      <p class="disc"><%= @experience.description %></p>
      <p><%= @experience.tag %></p>
      <p><%= @experience.cost %></p>
    </div>

    <% if @experience.user == current_user %>
      <div class="edit-area">
        <%= link_to edit_experience_path(@experience) do %>
          <i class="fa-solid fa-pencil edit"></i>
        <% end %>
        <%= link_to experience_path(@experience), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
          <i class="fa-solid fa-trash delete"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <%= render 'comments/form' %>
  <%= render 'comments/comment' %>

  <div class="back-area">
    <%= link_to t('common.back_to_top'), experiences_path %>
  </div>
</div>